framework:
    messenger:
        buses:
            messenger.bus.default:
                middleware:
                    - doctrine_ping_connection
                    - doctrine_close_connection
                    - doctrine_transaction
        transports:
            doctrine:
                dsn: "%env(MESSENGER_DOCTRINE_TRANSPORT_DSN)%"
                serializer: 'messenger.transport.symfony_serializer'
            add_followers:
                dsn: "%env(MESSENGER_AMQP_TRANSPORT_DSN)%"
                options:
                    exchange:
                        name: 'old_sound_rabbit_mq.add_followers'
                        type: direct
                serializer: 'messenger.transport.symfony_serializer'
            sync: 'sync://'

        routing:
            App\Domain\DTO\AddFollowersDTO: add_followers
