{% extends 'layout.twig' %}

{% block title %}
    User list
{% endblock %}
{% block body %}
    <ol id="user.list">
        {% for user in users %}
            <li>{{ user.id }}. {{ user.login|lower }} {{ user.communicationChannel|upper }} ({{ user.communicationMethod }}) </li>
        {% endfor %}
    </ol>
{% endblock %}
