{% extends 'layout.twig' %}

{% block title %}
    User table
{% endblock %}
{% block body %}
    <table>
        <tbody>
        <tr><th>ID</th><th>Логин</th><th>Канал коммуникации</th><th>Адрес</th></tr>
        {% for user in users %}
            <tr><td>{{ user.id }}</td><td>{{ user.login }}</td><td>{{ user.communicationChannel }}</td><td>({{ user.communicationMethod }})</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
